<!doctype html>
<head>
	<title>Soundcloud Hackathon</title>
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
	
	<style>
		body{
			font-family: 'Helvetica Nue', helvetica, sans-serif;
			font-size: 16px;
		}
		table{
			width: 100%;
		}
		th{
			text-align: left;
		}
		td{
			padding: 3px;
			vertical-align: middle;
		}
		li{
			padding: 10px;
			width: 70%;
		}
		.overlay{
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}
		.play{
			cursor: pointer;
			color: white;
			background-color:#179121;
			border-radius: 10px;
			padding: 5px 15px;
			float: right
		}
	</style>
</head>
<body>
	{% for user in tracks %}
		<div class="favourite">
			<h2>{{ user.user }}</h2>
			<ul>
				{% for track in user.tracks %}
					<li><strong>{{ track.user.decode('utf8') }}</strong> - {{ track.title.decode('utf8') }} ({{ track.duration.split('.')[0] }})<a class="play" data-embed="{{ track.permalink }}">play</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.play').click(function(){
				embed_url = $(this).attr('data-embed')
				$.get('/embedcode?track=' + embed_url, function(data){
					var popup = $('<div />');
					popup.css({
						position : 'fixed',
						width : '500px',
						height : '400px',
						top : '50px',
						left : '50%',
						'margin-left' : '-250px',
						'z-index' : 100
					}).addClass('popup').html(data);
					var overlay = $('<div />').addClass('overlay')
					$('body').append(overlay);
					$('body').append(popup);				
				});

			
			});
			$(document).on('click', '.overlay', function(e){
				$('.overlay, .popup').remove();
			})
		
			var users = new Array()
			$('.user').each(function(){
				var text = $(this).text();
				if($.inArray(text, users) === -1) users.push(text)
			});
		
			users.sort();
			$(users).each(function(){
				$('.user_filter').append($('<option></option>').attr("value", this).text(this));
			});
			$(document).on('change', '.user_filter', function(){
				var user = $(this).val();
				$('.user').each(function(){
					$(this).parent().show();
					if($(this).text() != user){
						$(this).parent().hide();
					}
				});
			});
		
		});
	</script>
</body>