{% extends "base.html" %}
{% block content %}
	{% include "blocks/player.html" %}
	<table>
		<thead>
			<tr>
				<th><a href="?sort=title">Title</a></th>
				<th></th>
				<th><a href="?sort=user">User</a> <select class="user_filter"><option>-- filter by user --</option></select></th>
				<th><a href="?sort=duration">Duration</a></th>
				<th><a href="?sort=date">Date</a></th>
  			</tr>
		</thead>
		<tbody>
			{% for track in tracks %}
				<tr>
					<td width="50%">{{ track.title.decode('utf8') }}</td>
					<td width="11%"><a class="play" data-embed="{{ track.permalink }}">play</a> | <a class="vlc" data-embed="{{ track.track_id }}">vlc</a></td>
					<td width="15%" class="user">{{ track.user.decode('utf8') }}</td>
					<td width="12%">{{ track.duration.decode('utf8').split('.')[0] }}</td>
					<td width="12%">{{ track.date.decode('utf8').split(' ')[0] }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
